.logo{
    width: 300px;
    display: inline;
}
.contact-info{
    width: 600px;
    float: right;
    display: grid;
}
.top-menu{

    /* position: fixed;
    top: 0; */
    width: 100%;
}
nav{

    background: #6ad88b;
    padding: 20px;
}
nav a{
    padding: 10px;
    background: #c678ed;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
}
nav a:hover{
    background: tomato;
}
.social-media{
    float: right;
    width: 250px;
    text-align: center;
}
.social-media a {
    background: none;
    color: purple;
}
.fa {
    
    font-size: 25px !important;
    
}
.top-body{
    display: flex;

}
.content{
    margin-bottom: 100px;
}
.card-content{
    display: flex;
    width: 1024px;
    margin: auto;
}
.welcome-content{
    margin: auto;
    width: 800px;
    text-align: center;
}
.welcome-content h3{
    font-size: 38px;
    color: royalblue;
    text-decoration: underline;
}
.welcome-content p{
    font-size: 18px;
}

.part1, .part2{
    width: 300px;
    margin: auto;
}
.btn{
    margin-top: 33px;
    padding: 15px 80px;
    border: 1px solid rebeccapurple;
    text-transform: uppercase;
    font-weight: bold;
}
.bgimg-1{
    background-image: url(https://www.w3schools.com/howto/img_parallax.jpg);
    min-height: 80%;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width:100%;
    text-align: center;
    color: #000;
}
.caption p{
    width: 600px;
    margin: auto;
    color: #081aa3;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin: 50px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
footer{
    display: flex;
    background: #222222;

}
footer div{
    width: 200px;
    margin: auto;
    color: #ffffff;
    padding: 30px;
}